h1, h2, .button-login {
	font-family: 'Syne';
}
h1, .login-form, form, .input-container {
	display: flex;
	flex-direction: column ;
}
a {
	text-decoration: none;
}
body {
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header, main {
	max-width: 1140px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px auto
}
h1{
	margin: 0;
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
nav {
	margin: 0;
	display: flex;
	align-items: center;
}
nav a {
	padding: 0 10px;
	font-size: 1.2em;
	color: black;
}
nav a:visited {
	color: black;
}
nav a:nth-child(3) {
	font-weight: bold;
}
nav a:hover {
	color: #B1663C;
}
#login {
	width: fit-content;
	margin: 0 auto;
}
h2 {
	margin: 0 0 21px 0;
	color: #1D6154;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}
label {
	margin-bottom: 6px;
}
#email, #password {
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	flex-shrink: 0;
	padding-left: 10px;
}
.input-container:nth-child(1) {
	margin-bottom: 30px;
}
.error-msg {
	height: 15.94px;
	margin-top: 0;
	text-align: center;
    color: red;
}
.button-login {
	display: block;
	margin: 37px auto 28px;
	width: 179px;
	height: 36px;
	margin-bottom: 28px;
	border-radius: 60px;
	border: none;
	background: #1D6154;
	color: white;
}
.forgot-password {
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #3D3D3D;
	font-size: 14px;
	text-decoration-line: underline;
}
footer {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	background-color: white;
}
footer nav {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
}
footer li {
	width: 100%;
	margin-right: 28px;
	font-size: 1.2em;
	list-style-type: none;
}