/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	position: relative;
	background: #FFFEF8;
}
.content-container {
	max-width: 1140px;
	margin: 0 auto;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 50px 0
}
section {
	margin: 50px 0
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}
h1 > span {
	margin-top: 3px;
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav {
	display: flex;
	align-items: center;
}
nav a {
	padding: 0 10px;
	font-size: 1.2em;
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
}
a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}
#portfolio {
	margin-top: 139px;
}
.portfolio-title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 27px;
}
.portfolio-title p {
	color: black;
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}
#filter-buttons {
	margin: 51px 0;
	display: flex;
	justify-content: center;
	gap: 10px;
}
#filter-buttons button {
	padding: 9px 15px;
	font-family: 'Syne';
	color: #1D6154;
	background-color: transparent;
	border-radius: 60px;
	border: 1px solid #1D6154;
}
#filter-buttons button:hover {
	color: white;
	background-color: #1D6154;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
footer {
	background-color: #FFF;
}
footer nav {
	display: flex;
	justify-content: flex-end;
	padding: 2em
}
footer li {
	padding: 0 10px;
	font-size: 1.2em;
}

/* MODALE */
.close-modal {
	display: none;
} 
.modal-box {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	margin: 0;
}
.modal-box-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.30);
	z-index: 1;
}
.modal {
	margin: 0 auto;
	padding: 55px 70px 48px;
	width: 330px;
	height: 510px;
	position: sticky;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 10px;
	background: #FFF;
	z-index: 2;
	overflow: hidden;
}
.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modal-content-slide {
	animation: slideLeft 0.7s forwards;
}
@keyframes slideLeft {
	0% {
	  transform: translateX(0);
	  opacity: 1;
	}
	40% {
		opacity: 0;
	}
	100% {
	  transform: translateX(-300px);
	  opacity: 0;
	}
}
.icon-close {
	position: absolute;
	top: 26px;
	right: 30px;
}
.modal h3 {
	color: #000;
	text-align: center;
	font-size: 24px;
	font-family: Work Sans;
	font-weight: 400;
}
.gallery-modal {
	margin: 40px 0;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 12px;
	grid-column-gap: 7px;
}
.project-container {
	position: relative;
}
.gallery-modal-img {
	width: 100%;
}
.modal-img-icon {
	position: absolute;
	top: 3px;
	border-radius: 2px;
}
.trash-can-icon {
	background-color: #000;
	right: 3px;
	padding: 2px 3px;
}
.move-icon {
	right: 21px;
	height: 15px;
}
.gallery-modal figcaption {
	font-size: 0.75em;
}
.modal .line {
	width: 100%;
	border: 1px solid #B3B3B3;
}
.input-submit {
	width: 237px;
	padding: 10px 0;
	font-family: Syne;
	font-weight: 700;
	border-radius: 60px;
	border: none;
	color: #FFF;
}
.modal .button-add {
	background: #1D6154;
	margin: 30px 0 23px;
}
.modal .button-delete {
	border: none;
	background-color: transparent;
	color: #D65353;
	font-size: 14px;
	font-family: Syne;
	font-weight: 400;
}

/* ADD PHOTO MODAL */
.icon-arrow-left {
	position: absolute;
    top: 30px;
    left: 30px ;
	height: 16px;
}
.modal-add-photo-content {
	animation: slideLeft-addPhotoContent 0.7s forwards;
}
@keyframes slideLeft-addPhotoContent {
	0% {
	  transform: translateX(200px);
	  opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
	  transform: translateX(0);
	  opacity: 1;
	}
}
.add-photo-form {
	width: 100%;
	height: 100%;
}
.add-photo-container {
	margin: 36px 0 30px;
	height: 169px;
	border-radius: 3px;
	background: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.add-photo-container input[type="file"]{
	display: none;
}
.add-photo-button {
	margin: 15px 0 7px;
	padding: 10px 33px;
	border: none;
	border-radius: 50px;
	color: #306685;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	background: #CBD6DC;
}
.add-photo-text {
	color: #444;
	font-family: Work Sans;
	font-size: 10px;
	font-weight: 400;
}
.input-text-container {
	display: flex;
	flex-direction: column;
	gap: 7px;
}
.input-category-container {
	margin-bottom: 20px;
}
.add-photo-form input[type="text"] {
	height: 40px;
	width: 100%;
	border: none;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}
.add-photo-content-line {
	margin: 42px 0 30px;
}
.input-submit-add-photo {
	display: block;
	margin: 0 auto;
	width: 237px;
	height: 36px;
	border-radius: 60px;
	background: #A7A7A7;
}
/* ADMIN MODE */

#edit-bar {
	margin: 0;
}
#edit-bar div {
	height: 59px;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 21px;
}
#edit-bar p {
	color: #FFF;
	display: flex;
	align-items: center;
	gap: 9px;
}
#edit-bar button {
	width: 216px;
	height: 38px;
	border-radius: 60px;
	background: #FFF;
	color: #000;
	border: none;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
}
.content-form-slide-right {
	animation: slideRight 0.7s forwards;
}
@keyframes slideRight {
	0% {
	  transform: translateX(0);
	  opacity: 1;
	}
	40% {
		opacity: 0;
	}
	100% {
	  transform: translateX(300px);
	  opacity: 0;
	}
}
.content-slide-right {
	animation: slideRight-Gallery 0.7s forwards;
}
@keyframes slideRight-Gallery {
	0% {
	  transform: translateX(-300px);
	  opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
	  transform: translateX(0px);
	  opacity: 1;
	}
}
.none {
	display: none;
}

.block {
	display: block;
}
